p{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #cc3d97;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
header h1{
    color: white;
    display: inline-block;
}
.banner{
    position: relative;
}
.nav-bar{
    display: inline-block;
    position: sticky;
    background-color: rgb(245, 78, 128);
    padding: 10px;
}
.nav-bar ul{
    text-align: center;
    max-width: 100%;
}
.nav-bar ul li{
    display: inline-block;
     list-style-type: none;
}
article h2{
    text-align: center;
}
article h2 p{
    text-align: center;
}