p{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #cc3d97;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
header h1{
    color: white;
    display: inline-block;
    font-family: Georgia;
}
.banner{
    position: relative;
}
.nav-bar{
    position: sticky;
    background-color: rgb(245, 78, 128);
    padding: 20px;
    top: 1px;
    z-index: 1;
}
.nav-bar ul{
    text-align: center;
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}
.nav-bar li{
    display: inline-block;
     list-style-type: none;
     font-size: 20px;
     width: 30%;
}
.nav-bar li a{
    text-decoration: none;
    color: #e6c7ddf4;
}
.nav-bar li a:hover{
    text-decoration: overline;
}
main{
    padding: 0 40px;
    width: 1200px;
    max-width: 100%;
    margin: 80px auto;
    box-sizing: border-box;
}
article h2{
    text-align: center;
    color: #0d020251;
    font-size: 20px;
}
article h2 p{
    text-align: center;
    font-size: 15px;
}
section h3{
    text-align: center;
    color: #0d020251;
}
section ul{
    text-align: center;
    padding: 0 30px;
    margin: 50px auto;
}
section li{
    display: inline-block;
    width: 10%;
    list-style-type: none;
}
section li a img{
    width: 50px;
    height: auto;
}
footer{
    text-align: center;
}
footer p{
    font-size: 12px;
}