p{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #cc3d97;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
header h1{
    color: white;
    display: inline-block;
}
.banner{
    position: relative;
}
.nav-bar{
    position: sticky;
    background-color: rgb(245, 78, 128);
    padding: 20px;
    top: 150px;
    z-index: 1;
}
.nav-bar ul{
    text-align: center;
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}
.nav-bar li{
    display: inline-block;
     list-style-type: none;
     font-size: 20px;
     width: 35%;
}
.nav-bar li a{
    text-decoration: none;
}
article h2{
    text-align: center;
    color: #0d020251;
}
article h2 p{
    text-align: center;
}